/* ---------------------------------------------------------- */
/* -----------BASIC SETUP AND REUSABLE COMPONENTS------------ */
/* ---------------------------------------------------------- */

body{
  background-color:silver; 
  padding-right:0px;
}

section, article {
    min-height: 100vh;
}

#full_container{
  width:100%;      
}

.headings{
  font-size:2rem;
  color: white; 
  text-shadow: black 0.1em 0.1em 0.2em;  
}

button{
  border-radius:15%;  
}

button:hover{  
  background-color:gray;
  box-shadow:1rem 1rem 1rem;
}

/* ---------------------------------------------- */
      /* -----------NAVBAR------------ */
/* ---------------------------------------------- */


.navbar{
  background-color:rgb(178,178,178);     
  width:100%;
  padding-right:3rem;
  padding-left:2rem;
}

/* ---------------------------------------------- */
      /* -----------HOME------------ */
/* ---------------------------------------------- */



#top_content h1{
  font-size:4rem;
}

#home{ background-image:url('//i.imgur.com/8rHBl2P.jpg');
  background-repeat: no-repeat;
    background-attachment: fixed;
  background-size:100%;  
    min-height: 100vh;
}



/* ---------------------------------------------- */
      /* -----------ABOUT------------ */
/* ---------------------------------------------- */


#about_heading{
  font-size:4rem;
}

.divider{
  border:solid .2rem gray;
  width:63%;
  margin-left:19%;
  margin-bottom:5%;
  box-shadow: 1rem 1rem .4rem #888888;
}

#about{
  background-image:url('//i.imgur.com/GXbtlBv.jpg');
  background-repeat: no-repeat;
    background-attachment: fixed;
  background-size:100%;
    min-height: 100vh;
  padding:5%;
}
#about p{
  color:white;
  font-size:2rem;
}

/* ---------------------------------------------- */
      /* -----------ABOUT------------ */
/* ---------------------------------------------- */

#portfolio{
  width:100%;
   background-image:url('//i.imgur.com/jESF2.jpg');
  background-repeat: no-repeat;
    background-attachment: fixed;
  background-size:100%;
    min-height: 100vh; 
}

li.port_list{
  height:20rem;
  width:auto;
  border:solid .2rem white;
  margin:.5rem;
  padding:0rem;
  overflow:hidden;
}

ul{
  margin-bottom:13rem;
  margin-top:3rem;
}

/* ---------------------------------------------- */
      /* -----------FOOTER------------ */
/* ---------------------------------------------- */


footer{
  background-color:rgb(178,178,178); 
  width:100%;  
  margin-left:-1.4rem;  
}


